body {
  padding-top: 60px;
  padding-left:5px;
}
@media (max-width: 979px) {
  body {
    padding-top: 0px;
  }
}

.card-img-top {
    width: auto;
    height: 10vw;
    object-fit: contain;
}

a:link {
    text-decoration: none;
  }
  
  a:visited {
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  a:active {
    text-decoration: underline;
  }

  

  .header {
    font-size: 70px;
    font-weight: 600;
    background-image: linear-gradient(to left, #553c9a, #b393d3);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
  }